@font-face {
  font-family: 'Kopub Dotum';
  src: url(./assets/KoPub\ Dotum_Pro\ Medium.otf);
  font-weight: normal;
}

/* @media (orientation: portrait) {
  body {
    display: flex;
    justify-content: center;
  }
} */

html {
  height: 100%;
}

body {
  font-family: 'Kopub Dotum';
  background: linear-gradient(white 0%, white 30px, rgb(255, 200, 220) 100%);
  background-repeat: no-repeat;
  filter: url(#distortion)
}

.container {
  display: flex;
}

a {
  color: pink;
}

a:visited {
  text-shadow: 5px 5px 10px black;
}

h1 {
  margin-bottom: 10px;
}

h1 a {
  display: block;
  margin-top: 10px;
  margin-left: 20px;
}

h1 a span {
  font-size: 16px;
}

h2 {
  margin-top: 100px;
  margin-left: 100px;
}

svg {
  position: absolute;
}
